export("clusterplot","colorpalette","comparisonplot","convertcolor","convertgrey","cplot","demo.clusterplot","demo.comparisonplot","demo.convertcolor","demo.convertgrey","demo.cplot","demo.display.colorpalette","demo.distinctcolors","demo.gridfkt","demo.heatboxplot","demo.heathist","demo.heatmapairs","demo.heatmaplot","demo.heatmapoints","demo.heatpairs","demo.heatscatterpoints","demo.heatscatter","demo.linesplot","demo.makemovie","demo.msdplot","demo.LSDpie","demo.plotit","demo.plotmatrix","demo.windowxy","densitylane","disco","display.all.colorpalette","display.colorpalette","distinctcolors","gridfkt","heatbarplot","heatboxplot","heathist","heatmapairs","heatmaplot","heatmapoints","heatpairs","heatscatterpoints","heatscatter","kde2dplot","linesplot","lplot","LSD.demo.tour","makemovie","msdplot","LSDpie","plotit","plotmatrix","singleclusterplot","singlemsdplot","windowxy","ellipsescatter","demo.ellipsescatter")

